<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 1200px;
            height: 630px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            font-family: Arial, sans-serif;
            position: relative;
        }

        h1 {
            font-size: 48px;
            text-align: center;
            max-width: 80%;
        }

        .author {
            position: absolute;
            bottom: 20px;
            right: 20px;
            display: flex;
            align-items: center;
        }

        .author img {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }

        .author span {
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>

    <div class="author">
        <img src="<%= authorImageUrl %>" alt="<%= authorName %>">
        <span><%= authorName %></span>
    </div>
</body>
</html>
